<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/aop
         http://www.springframework.org/schema/aop/spring-aop.xsd
         http://www.springframework.org/schema/tx
         http://www.springframework.org/schema/tx/spring-tx.xsd">


    <!-- 使用 annotation -->
    <context:annotation-config />
    <!-- 使用 annotation 自动注册bean,并检查@Controller, @Service, @Repository注解已被注入 -->
    <context:component-scan base-package="com.*"/>


    <!-- 配置数据源 -->
    <!--com.mchange.v2.c3p0.ComboPooledDataSource-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="com.mysql.jdbc.Driver" />
        <property name="jdbcUrl" value="jdbc:mysql://10.108.17.218:3306/distplatform"/>
        <property name="user" value="dist"/>
        <property name="password" value="dist123"/>
    </bean>

    <!-- 配置sessionFactory -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">

        <property name="dataSource" ref="dataSource"/>

        <property name="hibernateProperties">
            <props>
                <!--配置Hibernate的方言-->
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <!--格式化输出sql语句-->
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.format_sql">true</prop>
                <!--<prop key="hibernate.hbm2ddl.auto">update</prop>-->
            </props>
        </property>

        <!--自动扫描实体 -->
        <property name="packagesToScan"  value="com.entity" />

        <!--
        <property name="annotatedClasses">
            <list>
                !-<value>com.entity.UserEntity</value>-
                <value>com.entity.AlgorithmEntity</value>
                <value>com.entity.DatasetEntity</value>
            </list>
        </property>

        <property name="mappingResources">
            <list>
                <value>com/entity/user.hbm.xml</value>
            </list>
        </property>
        -->
    </bean>

    <!-- 配置事务属性-->
    <bean id="transactionManager" class ="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!--开启事务注解-->
    <!--transactionManager-->
    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>

    <!--配置HibernateTemplate-->
    <bean id ="hibernateTemplate" class="org.springframework.orm.hibernate5.HibernateTemplate">
        <property name="sessionFactory" ref ="sessionFactory"/>
    </bean>



    <!--<bean class="com.action.user.UserAction" id="userAction">-->
        <!--<property name="user" ref="userEntity"/>-->
    <!--</bean>-->
</beans>